<h1 class="featurette-heading">Edit band <span class="text-muted"><%= @band.name() %></span></h1>
<hr class="featurette-divider">
<div class="form">
  <form action='/bands/<%= @band.id() %>' method= "post">
  <input name="_method" type="hidden" value="patch">
  <label for="name"><p class="lead">Update Band Name:</label>
  <input id="name" name="name" type="text" placeholder="<%= @band.name() %>">
  <% if @venues.any?() %>
    <label for="checkbox"><p class="lead">Add any additional venues this band has played at:</p></label>
    <% @venues.each() do |venue| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="venue[]" value="<%= venue.id() %>">
          <%= venue.name() %>
        </label>
      </div>
    <% end %>
  <% else %>
    <p class="lead">It looks like you haven't added any venues to the database. Try <a href="/add_venue">adding a venue</a> before listing a band's played venues.</p>
  <% end %>
  <button class="btn btn-primary btn-md" type="submit">Update Band</button>
  </form>
</div>
